<?xml version="1.0"?>
<config>
    <modules>
        <Abserve_Settings>
            <version>1.2.3</version>
        </Abserve_Settings>
    </modules>
    <frontend>
        <routers>
            <settings>
                <use>standard</use> 
                <args>
                    <module>Abserve_Settings</module>
                    <frontName>settings</frontName>
                </args>
            </settings>
        </routers>
        <layout>
            <updates>
                <settings>
                    <file>settings.xml</file>
                </settings>
            </updates>
        </layout> 
        <events>
            <sales_quote_add_item>
               <observers>
                  <Abserve_Settings_model_observer>
                     <type>singleton</type>
                     <class>Abserve_Settings_Model_Observer</class>
                     <method>updatePrice</method>
                  </Abserve_Settings_model_observer>
              </observers>
           </sales_quote_add_item>
        </events>        
    </frontend>
    <admin>
        <routers>
           <settings>
                <use>admin</use>
                <args>
                    <module>Abserve_Settings</module>
                    <frontName>contact</frontName> 
                </args>
           </settings>             
         </routers>   
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <settings>
                    <file>settings.xml</file>
                </settings>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <settings>
                <class>Abserve_Settings_Helper</class>
            </settings>
        </helpers>
        <blocks>
            <settings>
                <class>Abserve_Settings_Block</class>
            </settings>
        </blocks>  

        <models>           
            <custom>
                <class>Abserve_Settings_Model</class>
            </custom>
        </models>    
        <template>
            <email>
                <custom_email_template1 module="settings">
                    <label>ActiveCodeline custom email module</label>
                    <file>activecodeline_custom_email1.html</file>
                    <type>html</type>
                </custom_email_template1>
            </email>
        </template>
    </global>  
    <default> 
        <settings>
            <helpline>
                <contactmail>vinothabserve@gmail.com</contactmail>
                <contactmailsecond>vinothabserve@gmail.com</contactmailsecond>
                <contactmailthird>vinothabserve@gmail.com</contactmailthird>
            </helpline>
        </settings>
    </default>
</config>