<?xml version="1.0"?>
<config>
    <modules>
        <Form_SimpleContact>
            <version>0.1.0</version>
        </Form_SimpleContact>
    </modules>   
 
    <frontend>
        <routers>
            <JustSomeFreeRouterNameHereNo1>
                <use>standard</use>
                <args>
                    <module>Form_SimpleContact</module>
                    <frontName>form-simplecontact</frontName>
                </args>
            </JustSomeFreeRouterNameHereNo1>
        </routers>
    </frontend>    
</config>