<?xml version="1.0"?>
<config>
    <modules>
        <Biotique_Products>
            <version>1.0.0.3</version>
        </Biotique_Products>
    </modules>
    <global>
		<models>
			<biotique_products>
				<class>Biotique_Products_Model</class>
			</biotique_products>
		</models>
        <blocks>
            <biotique_products>
                <class>Biotique_Products_Block</class>
            </biotique_products>
        </blocks>
        <helpers>
            <biotique_products>
                <class>Biotique_Products_Helper</class>
            </biotique_products>
        </helpers>
    </global>
    <frontend>
		<routers>
			<biotique_products>
				<use>standard</use>
				<args>
					<frontName>products</frontName>
					<module>Biotique_Products</module>
				</args>
			</biotique_products>
		</routers>
        <layout>
            <updates>
                <biotique_products>
                    <file>biotique/products.xml</file>
                </biotique_products>
            </updates>
        </layout>
    </frontend>
    
    <!-- for global products -->
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <weight />
                        <unit />
                        <description />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
</config>