<?xml version="1.0"?>

<config>
	<modules>
		<Biotique_Banner>
			<version>0.0.3</version>
		</Biotique_Banner>
	</modules>

	<global>
		<models>
			<banner>
				<class>Biotique_Banner_Model</class>
				<resourceModel>banner_resource_mysql4</resourceModel>
			</banner>
			<banner_resource_mysql4>
				<class>Biotique_Banner_Model_Mysql4</class>
				<entities>
					<slider>
						<table>bio_banner_slider</table>
					</slider>
					<catbanner>
						<table>bio_banner_catbanner</table>
					</catbanner>
					<prodbanner>
						<table>bio_banner_prodbanner</table>
					</prodbanner>
				</entities>
			</banner_resource_mysql4>
		</models>
		<resources>
			<banner_setup>
				<setup>
					<module>Biotique_Banner</module>
					<class>Biotique_Banner_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</banner_setup>
			<banner_write>
				<connection>
					<use>core_write</use>
				</connection>
			</banner_write>
			<banner_read>
				<connection>
					<use>core_read</use>
				</connection>
			</banner_read>
		</resources>

		<blocks>
			<banner>
				<class>Biotique_Banner_Block</class>
			</banner>
		</blocks>
		<helpers>
			<banner>
				<class>Biotique_Banner_Helper</class>
			</banner>
		</helpers>
		<events>
			<controller_action_predispatch>
				<observers>
					<banner_observers>
						<class>banner/observer</class>
						<method>controllerActionPredispatch</method>
					</banner_observers>
				</observers>
			</controller_action_predispatch>
		</events>
	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<banner before="Mage_Adminhtml">Biotique_Banner_Adminhtml</banner>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<banner>
				<use>standard</use>
				<args>
					<frontName>banner</frontName>
					<module>Biotique_Banner</module>
				</args>
			</banner>
		</routers>
		<layout>
			<updates>
				<banner>
					<file>biotique/banner.xml</file>
				</banner>
			</updates>
		</layout>		
	</frontend>
</config>