<?xml version="1.0"?>

<config>
	<modules>
		<Biotique_Ingredients>
			<version>0.0.1</version>
		</Biotique_Ingredients>
	</modules>

	<global>
		<models>
			<biotique_ingredients>
				<class>Biotique_Ingredients_Model</class>
				<resourceModel>biotique_ingredients_resource_mysql4</resourceModel>
			</biotique_ingredients>
			<biotique_ingredients_resource_mysql4>
				<class>Biotique_Ingredients_Model_Mysql4</class>
				<entities>
					<banner>
						<table>bio_ingredients</table>
					</banner>
				</entities>
			</biotique_ingredients_resource_mysql4>
		</models>
		<resources>
			<biotique_ingredients_setup>
				<setup>
					<module>Biotique_Ingredients</module>
					<class>Biotique_Ingredients_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</biotique_ingredients_setup>
			<biotique_ingredients_write>
				<connection>
					<use>core_write</use>
				</connection>
			</biotique_ingredients_write>
			<biotique_ingredients_read>
				<connection>
					<use>core_read</use>
				</connection>
			</biotique_ingredients_read>
		</resources>

		<blocks>
			<biotique_ingredients>
				<class>Biotique_Ingredients_Block</class>
			</biotique_ingredients>
		</blocks>
		<helpers>
			<biotique_ingredients>
				<class>Biotique_Ingredients_Helper</class>
			</biotique_ingredients>
		</helpers>
	</global>

    <frontend>
		<routers>
			<biotique_ingredients>
				<use>standard</use>
				<args>
					<frontName>ingredients</frontName>
					<module>Biotique_Ingredients</module>
				</args>
			</biotique_ingredients>
		</routers>
        <layout>
            <updates>
                <biotique_ingredients>
                    <file>biotique/ingredients.xml</file>
                </biotique_ingredients>
            </updates>
        </layout>
    </frontend>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<biotique_ingredients>Biotique_Ingredients_Adminhtml</biotique_ingredients>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>